<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/headerstyle.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="top-header">
            <img class="photo-logo" src="images\logo-mercado-liebre.svg" alt="Logo"><br>
            
                <input class="search" type="search" placeholder="Buscar productos, marcas">
                <i class="fas fa-search"></i>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
       
        <nav class="navs">
            <ul class="site-navbar">
                <li><a href="http://www.google.com">Ofertas</a></li>
                <li><a href="http://www.google.com">Tiendas Oficiales</a></li>
                <li><a href="http://www.google.com">Vender</a></li>
                <li><a href="http://www.google.com">Ayuda</a></li>
            </ul>
            <ul class="login-navbar">
                <li><a href="/register">Crea tu cuenta </a><i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li></a>
                <li><a href="http://www.google.com">Mis compras </a> <i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>
    <img class="banner" src="images\img-home-banner.jpg">
    <main>
        <section class="last-visit">
            <h1 class="titles">Basado en tu última vista</h1>
            <div class="product-section">
                
                <div class="product-container">
                    <img class="photo-product" src="images\img-cafetera-moulinex.jpg" alt="Cafetera">
                        <div class="info-product-container">
                            <i class="fas fa-truck"></i>
                            <div class="price-discount">
                                <p class="prices">$6.770</p>
                                <p class="discounts">40% OFF</p>
                            </div>
                            <p class="descriptions">Cafetera Moulinex</p><br>
                        </div>
                </div>
                
                <div class="product-container">
                    <img class="photo-product" src="images\img-macbook-pro-2019.jpg" alt="macbook pro">
                    <div class="info-product-container">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="prices">$230.000</p>
                            <p class="discounts">20% off</p>
                        </div>
                        <p class="descriptions">MacBook Pro 2019</p><br>
                    </div>
                    
                </div>
                
                <div class="product-container">
                    <img class="photo-product" src="images\img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                    <div class="info-product-container">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="prices">$70.500</p>
                            <p class="discounts">10% off</p>
                        </div>
                        <p class="descriptions">Samsung Galaxy S10</p><br>
                    </div>
                    
                </div>
                
                <div class="product-container">
                    <img class="photo-product" src="images\img-tv-samsung-smart.jpg" alt="Samsung smart tv">
                    <div class="info-product-container">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="prices">$23.200</p>
                            <p class="discounts">5% off</p>
                        </div>
                        <p class="descriptions">SmartTv Samsung 43"</p><br>
                    </div>
                    
        
                </div>
            
        </section>
            </div>
            
        <section >
            <h1 class="titles">Ofertas</h1>
            <div class="offer">

                <div class="product-container">
                    <img class="photo-product" src="images\img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="info-product-container">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="prices">$6.770</p>
                            <p class="discounts">40% OFF</p>
                        </div>
                        <p class="descriptions">Cafetera Moulinex</p><br>
    
                    </div>
                </div>
    
                <div class="product-container">
                    <img class="photo-product" src="images\img-macbook-pro-2019.jpg" alt="macbook pro">
                    <div class="info-product-container">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="prices">$230.000</p>
                            <p class="discounts">20% off</p>
                        </div>
                        <p class="descriptions">MacBook Pro 2019</p><br>
    
                    </div>
                </div>
    
                <div class="product-container">
                    <img class="photo-product" src="images\img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                    <div class="info-product-container">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="prices">$70.500</p>
                            <p class="discounts">10% off</p>
                        </div>
                        
                        <p class="descriptions">Samsung Galaxy S10</p><br>
                    </div>
                </div>
    
                <div class="product-container">
                    <img class="photo-product" src="images\img-tv-samsung-smart.jpg" alt="Samsung smart tv">
                    <div class="info-product-container">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="prices">$23.200</p>
                            <p class="discounts">5% off</p>
                        </div>
                        <p class="descriptions">SmartTv Samsung 43"</p><br>
    
                    </div>
                </div>
            </div>

        </section>
    </main>

    <footer>
        <div>  
            <i class="fas fa-credit-card"></i><br>
            <b>Pagá con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        
        <div>
            <i class="fas fa-gift"></i><br>
            <b>Envío gratis desde $ 2.500</b>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        
        <div>
            <i class="fas fa-user-shield"></i><br>
            <b>Seguridad, de principio a fin</b>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        
        <div>
            <b>Copyright © 1999-2022 MercadoLiebre S.R.L.</b>
        </div>
        
    </footer>
</body>
</html>

